# –ê–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö –ø–æ –¥–æ—Ö–æ–¥—É –Ω–∞—Å–µ–ª–µ–Ω–∏—è UCI Adult

–° –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –Ω–∞–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö [UCI Adult](https://archive.ics.uci.edu/ml/datasets/Adult) –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã –Ω–∏–∂–µ –∏ –æ—Ç–ø—Ä–∞–≤–∏—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –∏—Å–ø–æ–ª—å–∑—É—è [—ç—Ç–æ—Ç —à–∞–±–ª–æ–Ω](https://docs.google.com/spreadsheets/d/1APCeL8kSAhZ2wpsTcc5gE5HblVsDy0xRUh9iIw6vV0c/edit#gid=0).

In [18]:
import pandas as pd

df = pd.read_csv("adult.data.csv")

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1. **–°–∫–æ–ª—å–∫–æ –º—É–∂—á–∏–Ω –∏ –∂–µ–Ω—â–∏–Ω (–ø—Ä–∏–∑–Ω–∞–∫ sex) –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–æ –≤ —ç—Ç–æ–º –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö?**

In [3]:
   df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64


2. **–ö–∞–∫–æ–≤ —Å—Ä–µ–¥–Ω–∏–π –≤–æ–∑—Ä–∞—Å—Ç (–ø—Ä–∏–∑–Ω–∞–∫ age) –∂–µ–Ω—â–∏–Ω?**

In [5]:
   df[df['sex'] == 'Female']['age'].mean()

36.85823043357163


3. **–°–∫–æ–ª—å–∫–æ –≥—Ä–∞–∂–¥–∞–Ω –ì–µ—Ä–º–∞–Ω–∏–∏ (–ø—Ä–∏–∑–Ω–∞–∫ native-country)?**

In [6]:
   df[df['native-country'] == 'Germany'].shape[0]

137

4. **–ö–∞–∫–æ–≤ —Å—Ä–µ–¥–Ω–∏–π –≤–æ–∑—Ä–∞—Å—Ç —Å—Ä–µ–¥–∏ —Ç–µ—Ö, –∫—Ç–æ –ø–æ–ª—É—á–∞–µ—Ç –±–æ–ª–µ–µ 50K –≤ –≥–æ–¥, –∏ —Å—Ä–µ–¥–∏ —Ç–µ—Ö, –∫—Ç–æ –ø–æ–ª—É—á–∞–µ—Ç –º–µ–Ω–µ–µ 50K?**

In [7]:
   df[df['salary'] == '>50K']['age'].mean(), df[df['salary'] == '<=50K']['age'].mean()

(44.24984058155847, 36.78373786407767)

5. **–ü—Ä–∞–≤–¥–∞ –ª–∏, —á—Ç–æ –ª—é–¥–∏ —Å –≤—ã—Å—à–∏–º –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º –ø–æ–ª—É—á–∞—é—Ç –±–æ–ª–µ–µ –≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥ (–ø—Ä–∏–∑–Ω–∞–∫ education ‚Äì Bachelors, Masters, Doctorate)?**

In [ ]:
   df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]['salary'].value_counts(normalize=True)

6. **–í—ã–≤–µ–¥–∏—Ç–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫—É –ø–æ –≤–æ–∑—Ä–∞—Å—Ç—É –¥–ª—è –∫–∞–∂–¥–æ–π —Ä–∞—Å—ã –∏ –∫–∞–∂–¥–æ–≥–æ –ø–æ–ª–∞. –ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ groupby –∏ describe.**

In [9]:
   df.groupby(['race', 'sex'])['age'].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

7. **–ö–∞–∫–æ–≤ –ø—Ä–æ—Ü–µ–Ω—Ç –∑–∞—Ä–∞–±–æ—Ç–∞–≤—à–∏—Ö –±–æ–ª–µ–µ 50K —Å—Ä–µ–¥–∏ –∂–µ–Ω–∞—Ç—ã—Ö –º—É–∂—á–∏–Ω (–ø—Ä–∏–∑–Ω–∞–∫ marital-status)? –°—Ä–∞–≤–Ω–∏—Ç–µ —Å —Ö–æ–ª–æ—Å—Ç—ã–º–∏ –º—É–∂—á–∏–Ω–∞–º–∏.**

In [12]:
   married = df[df['marital-status'].isin(['Married-civ-spouse', 'Married-AF-spouse'])]
   single = df[df['marital-status'] == 'Never-married']
   married_percentage = married[married['salary'] == '>50K'].shape[0] / married.shape[0]
   single_percentage = single[single['salary'] == '>50K'].shape[0] / single.shape[0]
   married_percentage, single_percentage

(0.44682978865257683, 0.04596087241411589)

8. **–°—Ä–µ–¥–∏ –∫–æ–≥–æ –±–æ–ª—å—à–µ –¥–æ–ª—è –∑–∞—Ä–∞–±–∞—Ç—ã–≤–∞—é—â–∏—Ö –º–Ω–æ–≥–æ (>50K): —Å—Ä–µ–¥–∏ –∂–µ–Ω–∞—Ç—ã—Ö –∏–ª–∏ —Ö–æ–ª–æ—Å—Ç—ã—Ö –º—É–∂—á–∏–Ω (–ø—Ä–∏–∑–Ω–∞–∫ marital-status)?**

In [13]:

married_men = df[(df['sex'] == 'Male') & df['marital-status'].str.startswith('Married')]
single_men = df[(df['sex'] == 'Male') & ~df['marital-status'].str.startswith('Married')]
married_men_percentage = married_men[married_men['salary'] == '>50K'].shape[0] / married_men.shape[0]
single_men_percentage = single_men[single_men['salary'] == '>50K'].shape[0] / single_men.shape[0]
married_men_percentage, single_men_percentage

(0.4405139945351156, 0.08449509031397745)

9. **–ö–∞–∫–æ–µ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ —á–∏—Å–ª–æ —á–∞—Å–æ–≤ —á–µ–ª–æ–≤–µ–∫ —Ä–∞–±–æ—Ç–∞–µ—Ç –≤ –Ω–µ–¥–µ–ª—é (–ø—Ä–∏–∑–Ω–∞–∫ hours-per-week)?**
 **–°–∫–æ–ª—å–∫–æ –ª—é–¥–µ–π —Ä–∞–±–æ—Ç–∞—é—Ç —Ç–∞–∫–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —á–∞—Å–æ–≤ –∏ –∫–∞–∫–æ–≤ —Å—Ä–µ–¥–∏ –Ω–∏—Ö –ø—Ä–æ—Ü–µ–Ω—Ç –∑–∞—Ä–∞–±–∞—Ç—ã–≤–∞—é—â–∏—Ö –º–Ω–æ–≥–æ?**

In [14]:
max_hours = df['hours-per-week'].max()
people_max_hours = df[df['hours-per-week'] == max_hours]
percentage_high_income = people_max_hours[people_max_hours['salary'] == '>50K'].shape[0] / people_max_hours.shape[0]
max_hours, people_max_hours.shape[0], percentage_high_income

(99, 85, 0.29411764705882354)

10. **–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –≤—Ä–µ–º—è —Ä–∞–±–æ—Ç—ã (hours-per-week) –∑–∞—Ä–∞–±–∞—Ç—ã–≤–∞—é—â–∏—Ö –º–∞–ª–æ –∏ –º–Ω–æ–≥–æ (salary) –¥–ª—è –∫–∞–∂–¥–æ–π —Å—Ç—Ä–∞–Ω—ã (native-country).**

In [17]:
avg_hours_by_country = df.groupby(['native-country', 'salary'])['hours-per-week'].mean()
avg_hours_by_country

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

---

## –†–µ—Å–ø–µ–∫—Ç

–û—Å–æ–±–µ–Ω–Ω—ã–π —Ä–µ—Å–ø–µ–∫—Ç **–ê–ª—ã–º—Å–µ–∏—Ç–æ–≤—É**, –∫–æ—Ç–æ—Ä—ã–π –Ω–µ –ø–æ–ª–µ–Ω–∏–ª—Å—è –∏ —Å –Ω—É–ª—è —Å–æ–∑–¥–∞–ª —Ñ–∞–π–ª **Checkpoint 1** –¥–ª—è –Ω–∞—à–µ–π –≥—Ä—É–ø–ø—ã, –ø–æ—Ç–æ–º—É —á—Ç–æ –≤ —Å–∞–π—Ç–µ –µ–≥–æ –Ω–µ –æ–∫–∞–∑–∞–ª–æ—Å—å –≤ —Ñ–æ—Ä–º–∞—Ç–µ ipynb. –†–µ–∞–ª—å–Ω–æ –∫—Ä–∞—Å–∞–≤—á–∏–∫, –±–µ–∑ –Ω–µ–≥–æ –±—ã –Ω–µ –≤—ã–≤–µ–∑–ª–∏! üí™