In [2]:
import os
import pandas as pd

folder_name = 'csv_data'
csv_file_path = os.path.join(folder_name, 'employees_data.csv')

default_experience = 1 
default_salary_per_year = 1000  

if os.path.exists(csv_file_path):
    df = pd.read_csv(csv_file_path)
    print("Данные загружены из CSV файла (до заполнения пропусков):")
    display(df)  
    
    df['Experience'] = df['Experience'].fillna(default_experience)
    df['Salary'] = df['Salary'].fillna(df['Experience'] * default_salary_per_year)
    
    print("\nДанные после заполнения пропусков:")
    display(df)  
    
else:
    print(f"Файл '{csv_file_path}' не найден. Сначала создайте CSV файл.")

Данные загружены из CSV файла (до заполнения пропусков):

                   Name  Experience   Salary
0         Sergey Petrov         7.0      NaN
1         Anna Voronina        10.0  10000.0
2     Dmitry Kuznetsova         NaN      NaN
3           Anna Ivanov         NaN      NaN
4           Elena Popov         NaN      NaN
5         Ivan Smirnova         NaN      NaN
6       Anna Kuznetsova         NaN      NaN
7        Elena Voronina         1.0   1000.0
8        Dmitry Fedorov         6.0   6000.0
9          Anna Sidorov         NaN      NaN
10  Svetlana Kuznetsova         2.0   2000.0
11        Olga Voronina         NaN      NaN
12      Olga Kuznetsova         3.0   3000.0
13         Olga Sidorov         NaN      NaN
14         Sergey Popov         1.0      NaN
15       Dmitry Fedorov         NaN      NaN
16           Olga Popov         5.0      NaN
17        Olga Voronina         6.0   6000.0
18       Svetlana Popov         2.0      NaN
19        Elena Fedorov         6.0   6000.0
20          Elena Popov         NaN      NaN
21        Alexey Ivanov         NaN      NaN
22        Ivan Voronina         6.0   6000.0
23        Elena Sidorov         NaN      NaN
24       Elena Voronina         NaN      NaN
25      Ivan Kuznetsova         NaN      NaN
26    Alexey Kuznetsova         NaN      NaN
27          Ivan Ivanov         2.0      NaN
28  Svetlana Kuznetsova         NaN      NaN
29          Olga Petrov         8.0   8000.0

Данные после заполнения пропусков:

                   Name  Experience   Salary
0         Sergey Petrov         7.0   7000.0
1         Anna Voronina        10.0  10000.0
2     Dmitry Kuznetsova         1.0   1000.0
3           Anna Ivanov         1.0   1000.0
4           Elena Popov         1.0   1000.0
5         Ivan Smirnova         1.0   1000.0
6       Anna Kuznetsova         1.0   1000.0
7        Elena Voronina         1.0   1000.0
8        Dmitry Fedorov         6.0   6000.0
9          Anna Sidorov         1.0   1000.0
10  Svetlana Kuznetsova         2.0   2000.0
11        Olga Voronina         1.0   1000.0
12      Olga Kuznetsova         3.0   3000.0
13         Olga Sidorov         1.0   1000.0
14         Sergey Popov         1.0   1000.0
15       Dmitry Fedorov         1.0   1000.0
16           Olga Popov         5.0   5000.0
17        Olga Voronina         6.0   6000.0
18       Svetlana Popov         2.0   2000.0
19        Elena Fedorov         6.0   6000.0
20          Elena Popov         1.0   1000.0
21        Alexey Ivanov         1.0   1000.0
22        Ivan Voronina         6.0   6000.0
23        Elena Sidorov         1.0   1000.0
24       Elena Voronina         1.0   1000.0
25      Ivan Kuznetsova         1.0   1000.0
26    Alexey Kuznetsova         1.0   1000.0
27          Ivan Ivanov         2.0   2000.0
28  Svetlana Kuznetsova         1.0   1000.0
29          Olga Petrov         8.0   8000.0